.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-delay ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  position: absolute;
}

// 左进右出滑动渐变
.slideInOut-enter-active {
  animation: fadeInLeft $transition-delay $animate-cubic;
}
.slideInOut-leave-active {
  animation: fadeInLeft $transition-delay $animate-cubic reverse;
}
// popup从大到小
.popup-enter-to,
.popup-leave-from {
  transition: calc($transition-delay / 2);
  transform: scale(1);
  opacity: 1;
  transition-timing-function: $animate-cubic-bount;
}
.popup-enter-from,
.popup-leave-to {
  transform: scale(0.95);
  opacity: 0;
  transition: calc($transition-delay / 2);
}

// popover上下突出
.popY-enter-active,
.popY-leave-active {
  transition: all $transition-delay $animate-cubic;
  transform: scaleY(1);
  transform-origin: bottom;
}

.popY-enter-from,
.popY-leave-to {
  overflow: hidden;
  transform: scaleY(0.6);
  transform-origin: bottom;
  opacity: 0;
  transition: all $transition-delay $animate-cubic;
}

// fade-in-out
.fadeInOut-enter-active {
  animation: 0.2s fadeIn;
}
.fadeInOut-leave-active {
  animation: 0.2s fadeIn reverse;
}

@keyframes fade-in-out {
  0% {
    position: absolute;
    transition: 0.3s;
    width: 100%;
    opacity: 0;
  }
  100% {
    position: absolute;
    transition: 0.3s;
    width: 100%;
    opacity: 1;
  }
}

.animate__animated {
  animation-duration: $transition-delay;
}

// 关闭所有动画渐变保证变化的流畅
html.stop-transition {
  &,
  * {
    transition: none !important;
  }
}
html.stop-transition-all {
  &,
  * {
    transition: none !important;
    backdrop-filter: none !important;
    animation: none !important;
  }
}

// 夜间模式切换动画
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  transition: none !important;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}

.page-fade-enter-active {
  animation: 0.4s fade-in-out;
}
.page-fade-leave-active {
  animation: 0.4s fade-in-out reverse;
}
@keyframes fade-in-out {
  0% {
    position: absolute;
    transition: $transition-delay;
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    position: absolute;
    transition: $transition-delay;
    filter: blur(0px);
    opacity: 1;
  }
}

.animate__blurIn {
  animation: $transition-delay fade-in-out;
}
.animate__fadeIn {
  animation: $transition-delay fade-in-out;
}

@keyframes blur-in {
  0% {
    transition: $transition-delay;
    opacity: 0.8;
    filter: blur(2px);
  }
  100% {
    transition: $transition-delay;
    filter: blur(0px);
    opacity: 1;
  }
}

/* 颜色 */
:root {
  --text-mark-color1: #7c51fb;
  --text-mark-color2: #ffbc0d;
  --text-mark-color3: #dc284d;
}

/* 可视范围 */
.animate-ob,
.animatejs {
  animation-play-state: paused;
  animation-duration: 1s;
}

.animateStart {
  animation-play-state: running;
}

/* 画字特效 */
.mark1,
.mark2,
.mark3 {
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(var(--text-mark-color), var(--text-mark-color));
  background-repeat: no-repeat;
  background-size: 0% 36%;
  background-position: 0% 100%;
}

.mark2 {
  background-image: linear-gradient(var(--text-mark-color2), var(--text-mark-color2));
}

.mark3 {
  background-image: linear-gradient(var(--text-mark-color3), var(--text-mark-color3));
}

.mark1.animate,
.mark2.animate,
.mark3.animate {
  animation: 1s sliceHightLight ease-in-out forwards;
}

/* 背景颜色滑动 */
@keyframes sliceHightLight {
  to {
    background-size: 100% 36%;
  }
}

/* 变换边框 */
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.fadeInOut {
  animation: fadeIn 0.24s ease-in-out;
}
// item动画
.item-list-move,
.item-list-enter-active,
.item-list-leave-active {
  transition: all 0.4s $animate-cubic-bount;
}

.item-list-enter-from,
.item-list-leave-to {
  opacity: 0;
  filter: blur(2%);
  transform: translateX(20%);
}

.item-list-leave-active {
  position: absolute;
  z-index: -1;
}

// group动画
.group-list-move,
.group-list-enter-active,
.group-list-leave-active {
  transition: all 0.4s $animate-cubic-bount;
}

.group-list-enter-from,
.group-list-leave-to {
  opacity: 0;
}

.group-list-leave-active {
  position: absolute;
  z-index: -1;
}

// 放大消失动画
.scale-pop-move,
.scale-pop-enter-active,
.scale-pop-leave-active {
  transform: scale(1);
  transition: all 0.4s $animate-cubic-bount;
}

.scale-pop-enter-from,
.scale-pop-leave-to {
  transform: scale(1.04);
  opacity: 0;
}

.scale-pop-leave-active {
  position: absolute;
  z-index: -1;
}
// fade动画
.fade-bt-list-move,
.fade-bt-list-enter-active,
.fade-bt-list-leave-active {
  transition: 0.3s ease-in-out;
}

.fade-bt-list-enter-from {
  opacity: 0;
  transform: translateY(30%);
}
.fade-bt-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translateY(30%);
}

.fade-bt-list-leave-active {
  position: absolute;
  z-index: -1;
}
//  scale
.filp-scale-list-move,
.filp-scale-list-enter-active,
.filp-scale-list-leave-active {
  transition: 0.4s ease;
}

.filp-scale-list-enter-from,
.filp-scale-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) rotateX(90deg);
}

.filp-scale-list-leave-active {
  position: absolute;
  z-index: -1;
}

// fade动画
.fade-lr-list-move,
.fade-lr-list-enter-active,
.fade-lr-list-leave-active {
  transition: 0.4s ease;
}

.fade-lr-list-enter-from,
.fade-lr-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translateX(20%);
}

.fade-lr-list-leave-active {
  position: absolute;
  z-index: -1;
}

// 页面
.sliceX-enter-active,
.sliceX-leave-active {
  transform: scaleY(0.01) translateX(0);
  transition: transform $transition-delay ease-in;
}

.sliceX-enter-from,
.sliceX-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

// 图标动画
// 购物车撞到背景
.hover\:animate-shopcart:hover {
  animation: shopcart 1s ease-in-out 1;
}
@keyframes shopcart {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(20%) rotate(0deg);
  }
  40% {
    transform: translate(22%) rotate(-15deg);
  }
  60% {
    transform: translateX(-10%) rotate(0deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.hover\:animate-portanim:hover {
  animation: portanim 1s ease-in-out 1;
}
@keyframes portanim {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(20%);
  }
  40% {
    transform: translateX(-22%);
  }
  60% {
    transform: translateX(18%);
  }
  100% {
    transform: translateX(0%);
  }
}

// 加载动画
.load-alexruix {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  position: relative;

  &:before {
    content: "";
    width: 1.5em;
    height: 0.2em;
    background: var(--el-color-primary-light-3);
    position: absolute;
    top: 2.2em;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--el-color-primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.4em;
    animation: jump7456 0.5s linear infinite;
  }

  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 0.4em;
    }

    25% {
      transform: translateY(0.5em) rotate(22.5deg);
    }

    50% {
      transform: translateY(1em) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 1.5em;
    }

    75% {
      transform: translateY(0.5em) rotate(67.5deg);
    }

    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow324 {
    0%,
    100% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.2, 1);
    }
  }
}
// 双方块动画
.load-db-rule {
  --size: 1em;
  --first-block-clr: var(--el-color-info);
  --second-block-clr: var(--el-color-warning);
  --block-radius: 0.2em;
  --clr: #111;
  width: 1em;
  height: 1em;
  position: relative;

  &::after,
  &::before {
    border-radius: var(--block-radius);
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--first-block-clr);
  }

  &::after {
    background: var(--second-block-clr);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  }

  @keyframes down {
    0%,
    100% {
      transform: none;
    }

    25% {
      transform: translateX(100%);
    }

    50% {
      transform: translateX(100%) translateY(100%);
    }

    75% {
      transform: translateY(100%);
    }
  }

  @keyframes up {
    0%,
    100% {
      transform: none;
    }

    25% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(-100%) translateY(-100%);
    }

    75% {
      transform: translateY(-100%);
    }
  }
}
// 语音聊天球load
.load-popper-cy {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 2em;
  height: 2em;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow:
    0px -0.2em 0.6em 0px rgb(186, 66, 255),
    0px 0.2em 0.6em 0px rgb(0, 225, 255);
  div {
    content: "";
    background-color: rgb(36, 36, 36);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    filter: blur(0.6em);
  }

  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }
}

.load-empty-circle {
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #ff00cc 0%, var(--el-color-primary) 100%);
    animation: loadCircleAnima 0.5s infinite linear;
  }

  &::after {
    width: 85%;
    height: 85%;
    background-color: var(--el-bg-color-page);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes loadCircleAnima {
    to {
      transform: rotate(360deg);
    }
  }
}
// 双球load
.load-chaotic-orbit {
  --uib-size: 1em;
  --uib-speed: 1.5s;
  --uib-color: var(--el-color-primary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate936 calc(var(--uib-speed) * 1.667) infinite linear;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
    flex-shrink: 0;
  }

  &::before {
    animation: orbit var(--uib-speed) linear infinite;
  }

  &::after {
    animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2) infinite;
  }

  @keyframes rotate936 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes orbit {
    0% {
      transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
      opacity: 0.65;
    }

    5% {
      transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
      opacity: 0.58;
    }

    10% {
      transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
      opacity: 0.51;
    }

    15% {
      transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
      opacity: 0.44;
    }

    20% {
      transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
      opacity: 0.37;
    }

    25% {
      transform: translate(0%) scale(0.47368);
      opacity: 0.3;
    }

    30% {
      transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
      opacity: 0.37;
    }

    35% {
      transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
      opacity: 0.44;
    }

    40% {
      transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
      opacity: 0.51;
    }

    45% {
      transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
      opacity: 0.58;
    }

    50% {
      transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
      opacity: 0.65;
    }

    55% {
      transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
      opacity: 0.72;
    }

    60% {
      transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
      opacity: 0.79;
    }

    65% {
      transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
      opacity: 0.86;
    }

    70% {
      transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
      opacity: 0.93;
    }

    75% {
      transform: translate(0%) scale(1);
      opacity: 1;
    }

    80% {
      transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
      opacity: 0.93;
    }

    85% {
      transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
      opacity: 0.86;
    }

    90% {
      transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
      opacity: 0.79;
    }

    95% {
      transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
      opacity: 0.72;
    }

    100% {
      transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
      opacity: 0.65;
    }
  }
}

/* 单个 */
[data-fade] {
  --lv: 0;
  --delay: 0.1s;
  --start: 0ms;
  --anima: latter-slice-top;
}
@for $i from 1 through 20 {
  [data-fades] > *:nth-child(#{$i}) {
    --lv: #{$i};
  }
}

/* 段落 */
[data-fades] > * {
  --lv: 0;
  --delay: 0.1s;
  --start: 0ms;
  --anima: latter-slice-top;
  animation: var(--anima) 0.5s both;
  animation-delay: calc(var(--start) + var(--lv) * var(--delay));
}

@media (prefers-reduced-motion: no-preference) {
  [data-fades] > *,
  [data-fade] {
    animation: var(--anima) 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
}

[data-fade-controller="false"][data-fade] {
  animation: none;
}
[data-fades-controller="false"][data-fades] > * {
  animation: none;
}

/* 渐进动画 下进入 */
@keyframes latter-slice-top {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    transform: none;
  }
}
/* 渐进动画 */
@keyframes latter-slice-left {
  0% {
    opacity: 0;
    transform: translateX(12px);
  }
  to {
    transform: none;
  }
}
@keyframes latter-slice-right {
  0% {
    opacity: 0;
    transform: translateX(-12px);
  }
  to {
    transform: none;
  }
}

/* sky-loading 骨架屏 */
.sky-loading {
  background-color: #edededb4;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 225, 0) 60%
    )
    #edededb4;
  background-size: 200% 100%;
  background-position-x: 120%;
  animation: 1s sky-loading ease-in-out infinite;
}
.dark .sky-loading {
  background-color: #1d1d1d00;
  background: linear-gradient(100deg, rgba(17, 17, 17, 0) 40%, rgba(60, 60, 60, 0.4) 50%, rgba(255, 255, 225, 0) 60%)
    transparent;
  background-size: 200% 100%;
  background-position-x: 120%;
  animation: 1s sky-loading ease-in-out infinite;
}
@keyframes sky-loading {
  to {
    background-position-x: -20%;
  }
}
