/* stylelint-disable no-duplicate-selectors */
:root {
  --font-family: "Alimama", --animate-duration: $transition-delay;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family), AlibabaHealthFont2, AlimamaDaoLiTi, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--el-text-color);
}

a:active,
a:focus,
a:valid,
a:active {
  background-color: none;
}

li {
  list-style: none;
}

span {
  line-height: 100%;
}
// 字体
@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: Alimama;
  src: url("/font/Alimama.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: AlimamaDaoLiTi;
  src: url("/font/AlimamaDaoLiTi-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Alimama_DongFangDaKai;
  src: url("/font/Alimama_DongFangDaKai_Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: AlibabaHealthFont2;
  src: url("/font/AlibabaHealthFont2.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: ZiWanGeTe;
  src: url("/font/ZiWanGeTe.ttf") format("truetype");
}

// 页面
html,
body {
  font-family: Alimama, Helvetica, sans-serif;
  background-color: transparent;
}

@media screen and (width <= 768px) {
  html {
    font-size: 14px; /* 当前屏幕尺寸除以划分的等份:320/15 */
  }
}

@media screen and (width >= 750px) {
  html {
    font-size: 16px; /* 当前屏幕尺寸除以划分的等份:720/15 */
  }
}

/* 屏幕分辨率放大为 150 */
// @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
//   .layout-default,
//   .layout-default-se {
//     transform: scale(0.665, 0.665) !important; /* 缩放数值需要根据效果调试 */
//     transform-origin: left top !important;
//   }
// }

/* 屏幕分辨率放大为 125 */
// @media (-webkit-min-device-pixel-ratio: 1.25) {
//   .layout-default,
//   .layout-default-se {
//     transform: scale(0.78, 0.78) !important;
//     transform-origin: center top !important;
//   }
// }

// 主题
// html {
//   background: radial-gradient(ellipse 80% 50% at 50% -22%, rgb(98 97 202 / 20%), #f1f2f5);
//   // background-color: #f1f2f5;
//   // background-image: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(149, 148, 255, 0.4), #ffffff) no-repeat;
// }

// html.dark {
//   background: radial-gradient(ellipse 80% 50% at 50% -22%, rgb(98 97 202 / 20%), transparent);
// }

*,
.cursor-pointer {
  // 移动端点击有蓝色底
  -webkit-tap-highlight-color: transparent;
}

// 全局滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background-color: #fbfbfc;
}

/* 定义滚动条轨道 内部
  内阴影+圆角 */
::-webkit-scrollbar-track {
  background-color: #fbfbfc;
  border-radius: 0.8rem;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}

.dark ::-webkit-scrollbar-track {
  background-color: #252525;
}

/* 定义滑块
  内阴影+圆角 */
::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 0.8rem;
  box-shadow: inset 0 0 6px rgb(134 134 134 / 20%);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(85 85 85);
}

// 路由跳转导航条
// 自定义进度条颜色
#nprogress .bar {
  height: 3px;
  background: $loading-color2 !important; //自定义颜色
}

.dark #nprogress .bar {
  height: 3px;
  background: $loading-color-dark2 !important; //自定义颜色
}
