:root {
  --font-family: "Alimama", --animate-duration: $transition-delay;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family), AlibabaHealthFont2, AlimamaDaoLiTi, sans-serif;
  box-sizing: border-box;
  outline: none;
}
.h-100dvh {
  min-height: 100vh;
  height: 100vh;
  height: 100dvh;
}

a {
  text-decoration: none;
  color: var(--el-text-color);
}

a:active,
a:focus,
a:valid,
a:active {
  background-color: none;
}

// li {
//   :not(.md-editor-preview-wrapper) {
//     list-style: none;
//   }
// }

// span {
// line-height: 100%;
// }
// 页面
html,
body {
  font-family: Alimama, Helvetica, sans-serif;
  border-radius: 0.375rem;
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background-color: var(--el-color-primary);
  color: #f0f0f0;
}
.dark ::selection {
  background-color: var(--el-color-primary);
  color: #f0f0f0;
}

// 字体
@font-face {
  font-display: swap;
  font-family: Alimama;
  src: url("/font/Alimama.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: AlimamaDaoLiTi;
  src: url("https://jiwu.kiwi2333.top/font/AlimamaDaoLiTi-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Alimama_DongFangDaKai;
  src: url("https://jiwu.kiwi2333.top/font/Alimama_DongFangDaKai_Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: AlibabaHealthFont2;
  src: url("https://jiwu.kiwi2333.top/font/AlibabaHealthFont2.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: ZiWanGeTe;
  src: url("https://jiwu.kiwi2333.top/font/ZiWanGeTe.ttf") format("truetype");
}

@media screen and (width <= 768px) {
  html {
    font-size: 16px; /* 当前屏幕尺寸除以划分的等份:320/15 */
  }
}

@media screen and (width >= 750px) {
  html {
    font-size: 16px; /* 当前屏幕尺寸除以划分的等份:720/15 */
  }
}
*,
.cursor-pointer {
  // 移动端点击有蓝色底
  -webkit-tap-highlight-color: transparent;
}

// 全局滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background-color: transparent;
}

/* 定义滚动条轨道 内部
  内阴影+圆角 */
::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background-color: transparent;
}

.dark ::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: rgb(216, 216, 216);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(85, 85, 85, 0.2);
}

// 自定义滚动条
.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.25rem;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #85858538;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  //   // scroll-behavior: smooth;
}

// 路由跳转导航条
// 自定义进度条颜色
#nprogress .bar {
  height: 3px;
  background: $loading-color2 !important; //自定义颜色
}

.dark #nprogress .bar {
  height: 3px;
  background: $loading-color-dark2 !important; //自定义颜色
}
