
$font-family: "Alimama";

// 菜单
$top-nav-height: 40px;
$transition-delay: 0.22s;

$theme-bg-color: #111;
$theme-bg-color-75: #171717;
$theme-bg-color2: #f3f3f3;
$theme-text-color: #f3f3f3;
$theme-text-color2: #fff;

$text-mark-color: #73ffa0;
$theme-font-color: #444;
$box-shadow-color: #eee;
$text-mark-color2: #7c51fb;
$text-mark-color3: #ffbc0d;
$text-mark-color4: #dc284d;
$text-mark-color5: #f1f1f1;

// 边框
$boder-color: #dfdfdf36;
$border-radius-def: 4px;

// 加载条颜色
$loading-color: #5d33f6;
$loading-color2: linear-gradient(to right, #4bf380, #71e9ed, #f64f59);
$loading-color-dark: #7becd9;
$loading-color-dark2: linear-gradient(to bottom, #9241d8, var(--el-color-primary));

// 动画曲线
$animate-cubic: cubic-bezier(0.61, 0.225, 0.195, 1.25);
$animate-cubic-bount: cubic-bezier(1, -0.155, 0.165, 1.3);
